<link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
/*Import your fonts above this line*/

/* ----------------------------------------
Base Styles
------------------------------------------- */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-family: Lato;
  font-size: 48px;
  margin: 30px 0px 30px 0px;
}

h2 {
  font-family: Lato;
  font-size: 22px;
  font
}

h3 {
  font-family: Lato;
  font-size: 15px;
  line-height: 15px;
}

h4 {
  font-family: Lato;
  font-size: 18px;
  line-height: 38px;
}

h5 {
  font-family: Lato;
  font-size: 14px;
  text-transform: uppercase;
  margin: 20px 0px 20px 0px;
}

h6 {
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
  margin: 15px 0px 15px 0px;
}

hr{
  color: #959695;
}

nav {
  text-align: right;
  display: grid;
  grid-template-columns: 1 fr 1 fr;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.scrolled {
  background-color: white;
}

nav a {
  padding-top: 25px;
  font-family: Lato;
  padding-left: 36px;
  font-size: 17px;
  color: white;
  text-decoration: none;
  text-transform: lowercase;
  text-shadow: grey 0.0em 0.1em .2em;
}

#logo {
  position: absolute;
  top: 20px;
}

#logo:hover {
  cursor: pointer;
  fill: #1E88c3;
  opacity: .9;
}

#menu {
  display: none;
  position: absolute;
  top: 22px;
  right: 0px;
  width: 32px;
  height: 32px;
}

#menu:hover {
  cursor: pointer;
  fill: #1E88c3;
  opacity: .9;
}

.nav-menu {
  display: block;
  padding-top: 25px;
}

.banner {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 380px;
  max-width: 100%;
  min-width: 100%;
  object-fit: cover;
  display:none;
}

.banner:first-of-type {
	display: block;
}

main {
  position: relative;
  margin-top: 130px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.feature {
  padding: 30px 65px 20px 65px;
  display: none;
}
.feature:first-of-type {
	display: block;
}


.feature a {
  padding-left: 8px;
  font-family: Lato;
  font-size: 12px;
  color: #1e8ed9;
  text-decoration: none;
}

#next {
  fill: #c8c8c8;
  height: 70px;
  position: absolute;
  top: 90px;
  right: 20px;
}

#next:hover {
  cursor: pointer;
  fill: #1E88c3;
  opacity: .7;
}

#previous{
  fill: #c8c8c8;
  height: 70px;
  position: absolute;
  top: 90px;
  left: 20px;
}

#previous:hover {
  cursor: pointer;
  fill: #1E88c3;
  opacity: .7;
}

.author {
  display: relative;
  margin-top: 4px;
  display: inline-block;
  width: 300px;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  float: left;
  margin-right: 15px;
}

.card-block {
  max-width: 1100px;
  margin-top: 50px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 21px;
}

.card-container {
  display: flex;
  justify-content: center;
}

.card {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 350px;
  height: 460px;
  border: 1px solid #959695;
  background color: white;
  transition: all 0.5s ease;
}

.card-banner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  max-height: 180px;
  object-fit: cover;
}

.card a {
  margin-top: 20px;
  display: block;
  font-family: Lato;
  font-size: 12px;
  color: #1e8ed9;
  text-align: center;
  text-decoration: none;
}

.card:hover {
  border: 1px solid blue;
  cursor: pointer;
}

.card-content {
  position: absolute;
  top: 100px;
  left: 25px;
  background-color: white;
  width: 260px;
  padding: 18px 20px 20px 20px;
}

footer {
  text-align: center;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}

footer a {
  display: inline-block;
  font-family: Lato;
  color: black;
  font-size: 15px;
  text-decoration: none;
  margin: 25px 22px 25px 22px;
}

.social {
  text-align: right;
  display: block;
  top: 30px;
  right: 0;
}

.social img{
  width: 25px;
  margin-left: 50px;
}

img {
  max-width: 100%;
}

/* ----------------------------------------
Responsive Break Point : 1100 px
------------------------------------------- */

@media screen and (max-width: 1100px) {

  nav {
    position: relative;
    max-width: 90%;
  }

  main{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .card-block {
    grid-template-columns: repeat(2,1fr);
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
  }

  .card {
    margin-left: unset;
    margin-right: unset;
  }

}

/* ----------------------------------------
Responsive Break Point : 875 px
------------------------------------------- */

@media screen and (max-width: 875px) {

  #menu{
    display: block;
  }

  h1 {
    font-size: 36px;
  }

  h4 {
    font-size: 16px;
    line-height: 32px;
  }

  nav a {
    display: block;
    padding-top: 35px;
  }

  .nav-menu{
    margin-top: 35px;
    display: block;
    display: none;
    max-width: 100%;
  }

}


/* ----------------------------------------
Responsive Break Point : 680 px
------------------------------------------- */

@media screen and (max-width: 680px) {

  .card-block {
    grid-template-columns: repeat(1,1fr);
  }

}
